{% load staticfiles %}
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <title>Samuel blog</title>
</head>
<body>

    <div class="page-header">
        <h1 class="header-size">
            <a class="color-white" href="/">Django Girls Blog</a>
            {% if user.is_authenticated %}
                <small><a class="move-right color-white post-margin" href="{% url 'post_draft_list' %}" data-toggle="tooltip" title="Draft"><span class="glyphicon glyphicon-edit"></span></a></small>

                <small><a class="move-right color-white post-margin" href="{% url 'post_new' %}" data-toggle="tooltip" title="New post"><span class="glyphicon glyphicon-plus"></span></a></small>
            {% endif %}
        </h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-xs-4">
                {% block column %}
                {% endblock %}
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();   
        });
    </script>

</body>
</html>