{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <div class="row">
            {% if user.is_authenticated %}
            <div class="col-xs-3">
                <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}" data-toggle="tooltip" title="Edit post"><span class="glyphicon glyphicon-pencil"></span></a>
            </div>
            <div class="col-xs-3">
                <a class="btn btn-default move-right" href="{% url 'post_delete' pk=post.pk %}" data-toggle="tooltip" title="Remove post"><span class="glyphicon glyphicon-trash"></span></a>
            </div>
            <div class="col-xs-6">
                    {% if post.published_date %}
                        <div class="date">
                            {{ post.published_date }}
                        </div>
                    {% else %}
                        <a class="btn btn-default move-right" href="{% url 'post_publish' pk=post.pk %}" data-toggle="tooltip" title="Publish post"><span class="glyphicon glyphicon-saved"></span></a>
                    {% endif %}
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h1>{{ post.title }}</h1>
            </div>
        </div>
        <div class="row">
            <p>{{ post.text|linebreaks }}</p>
        </div>
    </div>
{% endblock %}
