
h1, h2, h3, h4 {
    font-family: 'Lobster Two', cursive;
}

.move-right{
    float: right;
}

.date {
    float: right;
    color: #828282;
}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 15px 20px 20px 40px;
}

.color-white{
    color: #ffffff;
}

.header-size{
    font-size: 38pt;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.post-margin{
    margin-top: 10px;
    margin-left: 10px;
}

.header-size a:hover, a:focus {
    color: #ffffff;
}

.post-form textarea, .post-form input {
    width: 100%;
}

textarea {
    resize: none;
}
